In [16]:
import pandas as pd
from datetime import datetime

# File to Load 
file = "../Resources/Global_Weather.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,tiksi,71.6872,128.8694,-37.02,84.0,68.0,1.64,RU,1.610599e+09
1,1,tosya,41.0155,34.0401,3.23,82.0,100.0,1.37,TR,1.610599e+09
2,2,adre,13.4667,22.2000,16.47,30.0,0.0,6.83,TD,1.610599e+09
3,3,kodiak,57.7900,-152.4072,-1.00,86.0,1.0,3.57,US,1.610599e+09
4,4,sault sainte marie,46.5168,-84.3333,0.00,93.0,90.0,2.06,CA,1.610599e+09

In [17]:
df = df.rename(columns = {"Unnamed: 0":"City ID"})
df = df.dropna()
df.set_index("City ID", inplace = True)

df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City ID,,,,,,,,,
0,tiksi,71.6872,128.8694,-37.02,84.0,68.0,1.64,RU,1.610599e+09
1,tosya,41.0155,34.0401,3.23,82.0,100.0,1.37,TR,1.610599e+09
2,adre,13.4667,22.2000,16.47,30.0,0.0,6.83,TD,1.610599e+09
3,kodiak,57.7900,-152.4072,-1.00,86.0,1.0,3.57,US,1.610599e+09
4,sault sainte marie,46.5168,-84.3333,0.00,93.0,90.0,2.06,CA,1.610599e+09
5,broome,42.2506,-75.8330,-1.00,80.0,1.0,2.57,US,1.610599e+09
6,guaruja,-23.9931,-46.2564,25.00,26.0,99.0,1.47,BR,1.610599e+09
8,ostrovnoy,68.0531,39.5131,-16.26,93.0,77.0,10.35,RU,1.610599e+09
9,port alberni,49.2413,-124.8028,2.78,93.0,68.0,0.96,CA,1.610599e+09
10,yerkoy,39.6381,34.4672,3.14,84.0,96.0,1.48,TR,1.610599e+09

In [23]:
df["Date"] = df["Date"].astype(str)
df["Date"] = pd.to_datetime(df['Date'], unit='s')
df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City ID,,,,,,,,,
0,tiksi,71.6872,128.8694,-37.02,84.0,68.0,1.64,RU,2021-01-14 04:35:22
1,tosya,41.0155,34.0401,3.23,82.0,100.0,1.37,TR,2021-01-14 04:35:22
2,adre,13.4667,22.2000,16.47,30.0,0.0,6.83,TD,2021-01-14 04:35:22
3,kodiak,57.7900,-152.4072,-1.00,86.0,1.0,3.57,US,2021-01-14 04:35:23
4,sault sainte marie,46.5168,-84.3333,0.00,93.0,90.0,2.06,CA,2021-01-14 04:30:37
5,broome,42.2506,-75.8330,-1.00,80.0,1.0,2.57,US,2021-01-14 04:35:23
6,guaruja,-23.9931,-46.2564,25.00,26.0,99.0,1.47,BR,2021-01-14 04:35:23
8,ostrovnoy,68.0531,39.5131,-16.26,93.0,77.0,10.35,RU,2021-01-14 04:35:24
9,port alberni,49.2413,-124.8028,2.78,93.0,68.0,0.96,CA,2021-01-14 04:35:25
10,yerkoy,39.6381,34.4672,3.14,84.0,96.0,1.48,TR,2021-01-14 04:35:25

In [24]:
html = df.to_html(classes=["table-bordered", "table-striped", "table-hover"])

In [25]:
# write html to file 
text_file = open("../index.html", "w") 
text_file.write(html) 
text_file.close()